.presentation {
      margin-top: 18%;
      margin-bottom: 19%;
}

@media screen and (max-width: 420px) {
.presentation{
      font-size: 50%;
      margin-top: 50%;
      margin-bottom: 50%;
    }}

